In [1]:
import xarray as xr
import numpy as np
from glob import glob
import os
os.chdir('/Volumes/Seagate_ZQ2/SWE_datasets/rawData/ERA5')

In [2]:
ERA5_monthly = xr.open_dataset('ERA5_TP_t2m_monthly_1979_2023.nc')
ERA5_monthly = ERA5_monthly.sum('expver')
ERA5_monthly = ERA5_monthly.rename({'latitude':'lat', 'longitude':'lon'})
ERA5_monthly.to_netcdf('ERA5_TP_t2m_monthly_1979_2023_2.nc')

In [5]:
ERA5_monthly = xr.open_dataset('ERA5_TP_tp_monthly_1979_2023.nc')
ERA5_monthly = ERA5_monthly.sum('expver')
ERA5_monthly = ERA5_monthly.rename({'latitude':'lat', 'longitude':'lon'})
ERA5_monthly.to_netcdf('ERA5_TP_tp_monthly_1979_2023_2.nc')

In [6]:
ERA5_monthly = xr.open_dataset('ERA5_TP_u_monthly_1979_2023.nc')
ERA5_monthly = ERA5_monthly.sum('expver')
ERA5_monthly = ERA5_monthly.rename({'latitude':'lat', 'longitude':'lon'})
ERA5_monthly.to_netcdf('ERA5_TP_850u_monthly_1979_2023.nc')

In [7]:
ERA5_monthly = xr.open_dataset('ERA5_TP_v_monthly_1979_2023.nc')
ERA5_monthly = ERA5_monthly.sum('expver')
ERA5_monthly = ERA5_monthly.rename({'latitude':'lat', 'longitude':'lon'})
ERA5_monthly.to_netcdf('ERA5_TP_850v_monthly_1979_2023.nc')

In [8]:
ERA5_monthly = xr.open_dataset('ERA5_TP_z_monthly_1979_2023.nc')
ERA5_monthly = ERA5_monthly.sum('expver')
ERA5_monthly = ERA5_monthly.rename({'latitude':'lat', 'longitude':'lon'})
ERA5_monthly.to_netcdf('ERA5_TP_500z_monthly_1979_2023.nc')